## .NET
bin/
obj/
*.user
*.suo
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.VC.VC.opendb

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/

## IDE
.vs/
.vscode/
.idea/
*.sln.docstates

## Recordings (can be large)
recordings/

## OS
.DS_Store
Thumbs.db

## Node (EFB)
efb/GuardianApp/node_modules/
efb/GuardianApp/dist/

## Secrets & Credentials
.env*
*.key
*.pem
*.pfx
secrets/
